.menu{
    color: aliceblue;
    text-align: center;
    background-color: rgb(179, 45, 45);
    padding: 15px;
    font-style: italic;
    margin-top: 15px;
}
.name{
    color: aliceblue;
    text-align: center;
    background-color: blueviolet;
    padding: 10px;
    font-style: italic;
    margin: 20px;
}
.main{
   margin: 0px;
  padding: 10px ;
      text-transform: uppercase;
      color: aliceblue;
      background-color: blueviolet;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-style: italic;
}

a{
    color: aliceblue;
    text-decoration: none;
}
.one{
    color: aliceblue;
    text-align: center;
    background-color: rgb(179, 45, 45);
    padding: 15px;
    font-style: italic;
    margin: 0px;
}
